In [15]:
import pandas as pd

# Concat 5002 and 5003

In [16]:
d1 = pd.read_excel("5002.xlsx")
d1.drop(columns='ลำดับ',inplace = True)
d2 = pd.read_csv("5003.csv",skiprows=1, header=None)
d2.columns = ['รหัสทะเบียน'	,'ชื่อ'	,'ที่ตั้ง']
df = pd.concat([d1,d2], ignore_index = True)

# concat df and 5004

In [17]:
d2 = pd.read_csv("5004.csv",skiprows=1, header=None)
d2.columns = ['รหัสทะเบียน'	,'ชื่อ'	,'ที่ตั้ง']
df = pd.concat([df,d2], ignore_index = True)
df

,รหัสทะเบียน,ชื่อ,ที่ตั้ง
0,6-50-02-03/1-0018,วิสาหกิจชุมชนกลุ่มบริการการท่องเที่ยวโดยชุมชน,\r\n 81...
1,6-50-02-03/1-0027,วิสาหกิจชุมชนกลุ่มเย็บผ้าสตรีแม่บ้านตาดมื่น,\r\n 15...
2,6-50-02-03/1-0029,วิสาหกิจชุมชนกลุ่มร้านค้าสวัสดิการคริสตจักรขุน...,\r\n 78...
3,6-50-02-03/1-0047,วิสาหกิจชุมชนกลุ่มเกษตรกรผู้ผลิตสินค้าเกษตรไร้...,\r\n 30...
4,6-50-02-03/1-0048,วิสาหกิจชุมชนกลุ่มผู้ผลิตลำไยนอกฤดูบ้านแท่นคำ,\r\n 61...
...,...,...,...
377,6-50-04-07/1-0028,วิสาหกิจชุมชนกลุ่มสมุนไพรพื้นบ้านตำบลทุ่งข้าวพวง,\r\n 50...
378,6-50-04-07/1-0029,วิสาหกิจชุมชนแปรรูปพืชสวนเกษตรบ้านห้วยป่าฮ้อม,\r\n 23...
379,6-50-04-07/1-0030,วิสาหกิจชุมชนเชียงดาววัลเล่ย์,\r\n 22...
380,6-50-04-07/1-0031,วิสาหกิจชุมชนกลุ่มทฤษฎีใหม่บ้านกอนใน,\r\n 34...
381,6-50-04-07/1-0032,วิสาหกิจชุมชนกลุ่มแปรรูปผลิตภัณฑ์จากกระเทียม,\r\n 16...

# concat df and 5005

In [18]:
d2 = pd.read_csv("5005.csv",skiprows=1, header=None)
d2.columns = ['รหัสทะเบียน'	,'ชื่อ'	,'ที่ตั้ง']
df = pd.concat([df,d2], ignore_index = True)
df

,รหัสทะเบียน,ชื่อ,ที่ตั้ง
0,6-50-02-03/1-0018,วิสาหกิจชุมชนกลุ่มบริการการท่องเที่ยวโดยชุมชน,\r\n 81...
1,6-50-02-03/1-0027,วิสาหกิจชุมชนกลุ่มเย็บผ้าสตรีแม่บ้านตาดมื่น,\r\n 15...
2,6-50-02-03/1-0029,วิสาหกิจชุมชนกลุ่มร้านค้าสวัสดิการคริสตจักรขุน...,\r\n 78...
3,6-50-02-03/1-0047,วิสาหกิจชุมชนกลุ่มเกษตรกรผู้ผลิตสินค้าเกษตรไร้...,\r\n 30...
4,6-50-02-03/1-0048,วิสาหกิจชุมชนกลุ่มผู้ผลิตลำไยนอกฤดูบ้านแท่นคำ,\r\n 61...
...,...,...,...
479,6-50-05-14/1-0028,วิสาหกิจชุมชนแปลงใหญ่ผึ้งโพรงเทพเสด็จ,\r\n 57...
480,6-50-05-14/1-0029,วิสาหกิจชุมชนรวมใจพัฒนากาแฟเทพเสด็จ,\r\n 1 ...
481,6-50-05-14/1-0030,วิสาหกิจชุมชนชาดอยสะเก็ด,\r\n 52...
482,6-50-05-14/1-0031,วิสาหกิจชุมชนกลุ่มผู้ผลิตกาแฟและเห็ดเศรษฐกิจ,\r\n 20...
483,6-50-05-14/1-0032,วิสาหกิจชุมชนเพาะต้นกล้ากาแฟและการแปรรูปกาแฟเท...,\r\n 67...

# concat df and 5006

In [19]:
d2 = pd.read_excel("5006.xlsx")
d2.drop(columns='ลำดับ',inplace = True)
df = pd.concat([df,d2], ignore_index = True)
df

,รหัสทะเบียน,ชื่อ,ที่ตั้ง
0,6-50-02-03/1-0018,วิสาหกิจชุมชนกลุ่มบริการการท่องเที่ยวโดยชุมชน,\r\n 81...
1,6-50-02-03/1-0027,วิสาหกิจชุมชนกลุ่มเย็บผ้าสตรีแม่บ้านตาดมื่น,\r\n 15...
2,6-50-02-03/1-0029,วิสาหกิจชุมชนกลุ่มร้านค้าสวัสดิการคริสตจักรขุน...,\r\n 78...
3,6-50-02-03/1-0047,วิสาหกิจชุมชนกลุ่มเกษตรกรผู้ผลิตสินค้าเกษตรไร้...,\r\n 30...
4,6-50-02-03/1-0048,วิสาหกิจชุมชนกลุ่มผู้ผลิตลำไยนอกฤดูบ้านแท่นคำ,\r\n 61...
...,...,...,...
596,6-50-06-13/1-0066,วิสาหกิจชุมชนเกษตรผสมผสานบ้านปง หมู่ 7 ตำบลอิน...,\r\n 11...
597,6-50-06-13/1-0067,วิสาหกิจชุมชนผู้ผลิตและแปรรูปพืชสมุนไพรเพื่อกา...,\r\n 31...
598,6-50-06-13/1-0068,วิสาหกิจชุมชนเพาะกล้าไม้ผลและไม้ยืนต้นบ้านแม่ท...,\r\n 66...
599,6-50-06-13/1-0069,วิสาหกิจชุมชนกลุ่มประมงแบบผสมผสานบ้านม่วงคำ,\r\n 20...
600,6-50-06-13/1-0070,วิสาหกิจชุมชนภาคีเครือข่ายแม่ครูประทุมแม่แตง,\r\n 29...

# concat df and 5007

In [20]:
d2 = pd.read_excel("5007.xlsx")
d2.drop(columns='ลำดับ',inplace = True)
df = pd.concat([df,d2], ignore_index = True)
df

,รหัสทะเบียน,ชื่อ,ที่ตั้ง
0,6-50-02-03/1-0018,วิสาหกิจชุมชนกลุ่มบริการการท่องเที่ยวโดยชุมชน,\r\n 81...
1,6-50-02-03/1-0027,วิสาหกิจชุมชนกลุ่มเย็บผ้าสตรีแม่บ้านตาดมื่น,\r\n 15...
2,6-50-02-03/1-0029,วิสาหกิจชุมชนกลุ่มร้านค้าสวัสดิการคริสตจักรขุน...,\r\n 78...
3,6-50-02-03/1-0047,วิสาหกิจชุมชนกลุ่มเกษตรกรผู้ผลิตสินค้าเกษตรไร้...,\r\n 30...
4,6-50-02-03/1-0048,วิสาหกิจชุมชนกลุ่มผู้ผลิตลำไยนอกฤดูบ้านแท่นคำ,\r\n 61...
...,...,...,...
688,6-50-07-11/1-0035,วิสาหกิจชุมชนกลุ่มผู้ปลูกและแปรรูปพืชสมุนไพรอิ...,\r\n 71...
689,6-50-07-11/1-0037,วิสาหกิจชุมชนแม่ริมก้าวหน้า,\r\n 14...
690,6-50-07-11/1-0038,วิสาหกิจชุมชนบ้านริมนาคา,\r\n 16...
691,6-50-07-11/1-0039,วิสาหกิจชุมชนร่วมใจพัฒนาเกษตรแม่ริม2,\r\n 16...
692,6-50-07-11/1-0040,วิสาหกิจชุมชนผลิตดอกไม้เหมืองแก้ว,\r\n 33...

# concat df and 5008

In [21]:
d2 = pd.read_excel("5008.xlsx")
d2.drop(columns='ลำดับ',inplace = True)
df = pd.concat([df,d2], ignore_index = True)
df

,รหัสทะเบียน,ชื่อ,ที่ตั้ง
0,6-50-02-03/1-0018,วิสาหกิจชุมชนกลุ่มบริการการท่องเที่ยวโดยชุมชน,\r\n 81...
1,6-50-02-03/1-0027,วิสาหกิจชุมชนกลุ่มเย็บผ้าสตรีแม่บ้านตาดมื่น,\r\n 15...
2,6-50-02-03/1-0029,วิสาหกิจชุมชนกลุ่มร้านค้าสวัสดิการคริสตจักรขุน...,\r\n 78...
3,6-50-02-03/1-0047,วิสาหกิจชุมชนกลุ่มเกษตรกรผู้ผลิตสินค้าเกษตรไร้...,\r\n 30...
4,6-50-02-03/1-0048,วิสาหกิจชุมชนกลุ่มผู้ผลิตลำไยนอกฤดูบ้านแท่นคำ,\r\n 61...
...,...,...,...
800,6-50-08-05/1-0007,วิสาหกิจชุมชนกลุ่มเพื่อนเกษตรกรผู้ปลูกข้าวโพดต...,\r\n 14...
801,6-50-08-05/1-0018,วิสาหกิจชุมชนกลุ่มเพื่อนเกษตรกรผู้ปลูกผลผลิตทา...,\r\n 47...
802,6-50-08-05/1-0019,วิสาหกิจชุมชนกลุ่มเกษตรกรบ้านขุนขานน้อย,\r\n 69...
803,6-50-08-05/1-0020,วิสาหกิจชุมชนกลุ่มแม่บ้านเกษตรกรบ้านยั้งเมิน,\r\n 37...
804,6-50-08-05/1-0021,วิสาหกิจชุมชนกลุ่มผ้าทอมือปกาเก่อญอบ้านแม่จุม,\r\n 11...

# concat df and 5009

In [22]:
d2 = pd.read_excel("5009.xlsx")
d2.drop(columns='ลำดับ',inplace = True)
df = pd.concat([df,d2], ignore_index = True)
df

,รหัสทะเบียน,ชื่อ,ที่ตั้ง
0,6-50-02-03/1-0018,วิสาหกิจชุมชนกลุ่มบริการการท่องเที่ยวโดยชุมชน,\r\n 81...
1,6-50-02-03/1-0027,วิสาหกิจชุมชนกลุ่มเย็บผ้าสตรีแม่บ้านตาดมื่น,\r\n 15...
2,6-50-02-03/1-0029,วิสาหกิจชุมชนกลุ่มร้านค้าสวัสดิการคริสตจักรขุน...,\r\n 78...
3,6-50-02-03/1-0047,วิสาหกิจชุมชนกลุ่มเกษตรกรผู้ผลิตสินค้าเกษตรไร้...,\r\n 30...
4,6-50-02-03/1-0048,วิสาหกิจชุมชนกลุ่มผู้ผลิตลำไยนอกฤดูบ้านแท่นคำ,\r\n 61...
...,...,...,...
997,6-50-09-12/1-0013,วิสาหกิจชุมชนกลุ่มผลิตภัณฑ์น้ำพุร้อน ต.โป่งน้ำ...,\r\n 14...
998,6-50-09-12/1-0027,วิสาหกิจชุมชนน้ำดื่มบ้านหัวฝาย,\r\n 10...
999,6-50-09-12/1-0028,วิสาหกิจชุมชนกลุ่มวัยรุ่นทำส้ม บ้านต้นผึ้ง,\r\n 22...
1000,6-50-09-12/1-0029,วิสาหกิจชุมชนกลุ่มออมทรัพย์สัจจะบ้านต้นผึ้งใต้...,\r\n 18...
1001,6-50-09-12/1-0030,วิสาหกิจชุมชนกลุ่มผู้ผลิตปุ๋ยอินทรีย์ตำบลโป่งน...,\r\n 71...

# concat df and 5010

In [23]:
d2 = pd.read_excel("5010.xlsx")
d2.drop(columns='ลำดับ',inplace = True)
df = pd.concat([df,d2], ignore_index = True)
df

,รหัสทะเบียน,ชื่อ,ที่ตั้ง
0,6-50-02-03/1-0018,วิสาหกิจชุมชนกลุ่มบริการการท่องเที่ยวโดยชุมชน,\r\n 81...
1,6-50-02-03/1-0027,วิสาหกิจชุมชนกลุ่มเย็บผ้าสตรีแม่บ้านตาดมื่น,\r\n 15...
2,6-50-02-03/1-0029,วิสาหกิจชุมชนกลุ่มร้านค้าสวัสดิการคริสตจักรขุน...,\r\n 78...
3,6-50-02-03/1-0047,วิสาหกิจชุมชนกลุ่มเกษตรกรผู้ผลิตสินค้าเกษตรไร้...,\r\n 30...
4,6-50-02-03/1-0048,วิสาหกิจชุมชนกลุ่มผู้ผลิตลำไยนอกฤดูบ้านแท่นคำ,\r\n 61...
...,...,...,...
1095,6-50-10-07/1-0007,วิสาหกิจชุมชนกลุ่มออมทรัพย์บ้านห้วยป่าซาง,\r\n 23...
1096,6-50-10-07/1-0024,วิสาหกิจชุมชนผลิตเมล็ดข้าวพันธุ์ดี บ้านสันป่าเ...,\r\n 30...
1097,6-50-10-07/1-0025,วิสาหกิจชุมชนเวียงมะลิกา,\r\n 81...
1098,6-50-10-07/1-0026,วิสาหกิจชุมชนชาเจียวกู้หลาน ตราคนแบกตุ้ม อำเภอ...,\r\n 9 ...
1099,6-50-10-07/1-0030,วิสาหกิจชุมชนสมุนไพรบ้านสันป่าเหียว ตำบลมะลิกา,\r\n 14...

# concat df and 5011

In [24]:
d2 = pd.read_excel("5011.xlsx")
d2.drop(columns='ลำดับ',inplace = True)
df = pd.concat([df,d2], ignore_index = True)
df

,รหัสทะเบียน,ชื่อ,ที่ตั้ง
0,6-50-02-03/1-0018,วิสาหกิจชุมชนกลุ่มบริการการท่องเที่ยวโดยชุมชน,\r\n 81...
1,6-50-02-03/1-0027,วิสาหกิจชุมชนกลุ่มเย็บผ้าสตรีแม่บ้านตาดมื่น,\r\n 15...
2,6-50-02-03/1-0029,วิสาหกิจชุมชนกลุ่มร้านค้าสวัสดิการคริสตจักรขุน...,\r\n 78...
3,6-50-02-03/1-0047,วิสาหกิจชุมชนกลุ่มเกษตรกรผู้ผลิตสินค้าเกษตรไร้...,\r\n 30...
4,6-50-02-03/1-0048,วิสาหกิจชุมชนกลุ่มผู้ผลิตลำไยนอกฤดูบ้านแท่นคำ,\r\n 61...
...,...,...,...
1190,6-50-11-11/1-0034,วิสาหกิจชุมชนกลุ่มเกษตรกรบ้านแม่สายป่าเมี่ยง,\r\n 14...
1191,6-50-11-11/1-0035,วิสาหกิจชุมชนพืชไร่ พืชสวน สมุนไพร และการแปรรู...,\r\n 22...
1192,6-50-11-11/1-0036,วิสาหกิจชุมชนศูนย์รับซื้อวัตถุดิบเหลือใช้ทางกา...,\r\n 51...
1193,6-50-11-11/1-0037,วิสาหกิจชุมชนแปลงใหญ่ลำไยตำบลโหล่งขอด,\r\n 13...
1194,6-50-11-11/1-0038,วิสาหกิจชุมชนบิ๊กใหญ่ บ้านหลวง,\r\n 49...

# concat df and 5015

In [25]:
d2 = pd.read_excel("5015.xlsx")
d2.drop(columns='ลำดับ',inplace = True)
df = pd.concat([df,d2], ignore_index = True)
df

,รหัสทะเบียน,ชื่อ,ที่ตั้ง
0,6-50-02-03/1-0018,วิสาหกิจชุมชนกลุ่มบริการการท่องเที่ยวโดยชุมชน,\r\n 81...
1,6-50-02-03/1-0027,วิสาหกิจชุมชนกลุ่มเย็บผ้าสตรีแม่บ้านตาดมื่น,\r\n 15...
2,6-50-02-03/1-0029,วิสาหกิจชุมชนกลุ่มร้านค้าสวัสดิการคริสตจักรขุน...,\r\n 78...
3,6-50-02-03/1-0047,วิสาหกิจชุมชนกลุ่มเกษตรกรผู้ผลิตสินค้าเกษตรไร้...,\r\n 30...
4,6-50-02-03/1-0048,วิสาหกิจชุมชนกลุ่มผู้ผลิตลำไยนอกฤดูบ้านแท่นคำ,\r\n 61...
...,...,...,...
1303,6-50-15-11/1-0021,วิสาหกิจชุมชนกลุ่มเกษตรอินทรีย์บ้านแม่ขนิลใต้ต...,\r\n 48...
1304,6-50-15-11/1-0024,วิสาหกิจชุมชนกลุ่มยูงทองสุรากลั่นชุมชน,\r\n 40...
1305,6-50-15-11/1-0025,วิสาหกิจชุมชนกลุ่มเกษตรกรผู้ผลิตและแปรรูปผลผลิ...,\r\n 13...
1306,6-50-15-11/1-0026,วิสาหกิจชุมชนผู้เลี้ยงด้วงสาคู ปูนา และหอยเชอร...,\r\n 13...
1307,6-50-15-11/1-0027,วิสาหกิจชุมชนเกษตรอินทรีย์บ้านน้ำบุ่น,\r\n ...

# concat df and 5016

In [26]:
d2 = pd.read_excel("5016.xlsx")
d2.drop(columns='ลำดับ',inplace = True)
df = pd.concat([df,d2], ignore_index = True)
df

,รหัสทะเบียน,ชื่อ,ที่ตั้ง
0,6-50-02-03/1-0018,วิสาหกิจชุมชนกลุ่มบริการการท่องเที่ยวโดยชุมชน,\r\n 81...
1,6-50-02-03/1-0027,วิสาหกิจชุมชนกลุ่มเย็บผ้าสตรีแม่บ้านตาดมื่น,\r\n 15...
2,6-50-02-03/1-0029,วิสาหกิจชุมชนกลุ่มร้านค้าสวัสดิการคริสตจักรขุน...,\r\n 78...
3,6-50-02-03/1-0047,วิสาหกิจชุมชนกลุ่มเกษตรกรผู้ผลิตสินค้าเกษตรไร้...,\r\n 30...
4,6-50-02-03/1-0048,วิสาหกิจชุมชนกลุ่มผู้ผลิตลำไยนอกฤดูบ้านแท่นคำ,\r\n 61...
...,...,...,...
1400,6-50-16-05/1-0026,วิสาหกิจชุมชนเกษตรอินทรีย์ในระบบเกษตรกรรมยั่งย...,\r\n 15...
1401,6-50-16-05/1-0027,วิสาหกิจชุมชนกลุ่มเกษตรพอเพียงบ้านอมลอง ตำบลบ่...,\r\n 75...
1402,6-50-16-06/1-0002,วิสาหกิจชุมชนกลุ่มทอผ้าแม่สีดาบ้านนาคอเรือ,\r\n 55...
1403,6-50-16-06/1-0005,วิสาหกิจชุมชนผ้าฝ้ายอำพัน,\r\n 48...
1404,6-50-16-06/1-0007,วิสาหกิจชุมชนกลุ่มเกษตรผลิตปุ๋ยอินทรีย์และชีวภาพ,\r\n 18...

# concat df and 5021

In [27]:
d2 = pd.read_csv("5021.csv",skiprows=1, header=None)
d2.columns = ['รหัสทะเบียน'	,'ชื่อ'	,'ที่ตั้ง']
df = pd.concat([df,d2], ignore_index = True)
df

,รหัสทะเบียน,ชื่อ,ที่ตั้ง
0,6-50-02-03/1-0018,วิสาหกิจชุมชนกลุ่มบริการการท่องเที่ยวโดยชุมชน,\r\n 81...
1,6-50-02-03/1-0027,วิสาหกิจชุมชนกลุ่มเย็บผ้าสตรีแม่บ้านตาดมื่น,\r\n 15...
2,6-50-02-03/1-0029,วิสาหกิจชุมชนกลุ่มร้านค้าสวัสดิการคริสตจักรขุน...,\r\n 78...
3,6-50-02-03/1-0047,วิสาหกิจชุมชนกลุ่มเกษตรกรผู้ผลิตสินค้าเกษตรไร้...,\r\n 30...
4,6-50-02-03/1-0048,วิสาหกิจชุมชนกลุ่มผู้ผลิตลำไยนอกฤดูบ้านแท่นคำ,\r\n 61...
...,...,...,...
1413,6-50-21-03/1-0061,วิสาหกิจชุมชนแปลงใหญ่ข้าว หมู่ 6 ตำบลแม่ทะลบ,\r\n 12...
1414,6-50-21-04/1-0047,วิสาหกิจชุมชนกลุ่มพัฒนาผลผลิตการตลาดเกษตรบ้านปง,\r\n 11...
1415,6-50-21-04/1-0052,วิสาหกิจชุมชนผู้ผลิตกาแฟดอยผาแดงไชยปราการ,\r\n 73...
1416,6-50-21-04/1-0053,วิสาหกิจชุมชนหมูหรรษาวายเอฟเอสซีพีเค,\r\n 3 ...
1417,6-50-21-04/1-0054,วิสาหกิจชุมชนกลุ่มเกษตรกรผู้เลี้ยงโคเนื้อและผล...,\r\n 10...

# concat df and 5022

In [28]:
d2 = pd.read_csv("5022.csv",skiprows=1, header=None)
d2.columns = ['รหัสทะเบียน'	,'ชื่อ'	,'ที่ตั้ง']
df = pd.concat([df,d2], ignore_index = True)
df

,รหัสทะเบียน,ชื่อ,ที่ตั้ง
0,6-50-02-03/1-0018,วิสาหกิจชุมชนกลุ่มบริการการท่องเที่ยวโดยชุมชน,\r\n 81...
1,6-50-02-03/1-0027,วิสาหกิจชุมชนกลุ่มเย็บผ้าสตรีแม่บ้านตาดมื่น,\r\n 15...
2,6-50-02-03/1-0029,วิสาหกิจชุมชนกลุ่มร้านค้าสวัสดิการคริสตจักรขุน...,\r\n 78...
3,6-50-02-03/1-0047,วิสาหกิจชุมชนกลุ่มเกษตรกรผู้ผลิตสินค้าเกษตรไร้...,\r\n 30...
4,6-50-02-03/1-0048,วิสาหกิจชุมชนกลุ่มผู้ผลิตลำไยนอกฤดูบ้านแท่นคำ,\r\n 61...
...,...,...,...
1499,6-50-22-05/1-0065,วิสาหกิจชุมชนกลุ่มสมุนไพรพื้นบ้านเหล่าป่าฝาง,\r\n 64...
1500,6-50-22-05/1-0067,วิสาหกิจชุมชนกลุ่มแปลงใหญ่ลำไยต.ดอนเปา อ.แม่วา...,\r\n 12...
1501,6-50-22-05/1-0069,วิสาหกิจชุมชนสมุนไพรเชิงสุขภาพอำเภอแม่วาง,\r\n 17...
1502,6-50-22-05/1-0070,วิสาหกิจชุมชนปลูกและแปรรูปผลผลิตทางการเกษตรพืช...,\r\n 14...
1503,6-50-22-05/1-0071,วิสาหกิจชุมชนดอนเปารวมใจ,\r\n 13...

# concat df and 5023

In [29]:
d2 = pd.read_csv("5023.csv",skiprows=1, header=None)
d2.columns = ['รหัสทะเบียน'	,'ชื่อ'	,'ที่ตั้ง']
df = pd.concat([df,d2], ignore_index = True)
df

,รหัสทะเบียน,ชื่อ,ที่ตั้ง
0,6-50-02-03/1-0018,วิสาหกิจชุมชนกลุ่มบริการการท่องเที่ยวโดยชุมชน,\r\n 81...
1,6-50-02-03/1-0027,วิสาหกิจชุมชนกลุ่มเย็บผ้าสตรีแม่บ้านตาดมื่น,\r\n 15...
2,6-50-02-03/1-0029,วิสาหกิจชุมชนกลุ่มร้านค้าสวัสดิการคริสตจักรขุน...,\r\n 78...
3,6-50-02-03/1-0047,วิสาหกิจชุมชนกลุ่มเกษตรกรผู้ผลิตสินค้าเกษตรไร้...,\r\n 30...
4,6-50-02-03/1-0048,วิสาหกิจชุมชนกลุ่มผู้ผลิตลำไยนอกฤดูบ้านแท่นคำ,\r\n 61...
...,...,...,...
1556,6-50-23-05/1-0035,วิสาหกิจชุมชนครัวเรือนอาสาวิถีพอเพียง,\r\n 13...
1557,6-50-23-05/1-0037,วิสาหกิจชุมชนกลุ่มผู้เลี้ยงโคขุนบ้านป่านอต,\r\n 57...
1558,6-50-23-05/1-0038,วิสาหกิจชุมชนเกษตรกรรมระบบอัจฉริยะตำบลแม่ทา,\r\n 10...
1559,6-50-23-06/1-0011,วิสาหกิจชุมชนกลุ่มออมทรัพย์บ้านใหม่ดอนแก้ว,\r\n 6/...
1560,6-50-23-06/1-0012,วิสาหกิจชุมชนกลุ่มเกษตรกรอินทรีย์บ้านห้วยบง,\r\n 11...

# concat df and 5025

In [30]:
d2 = pd.read_csv("5025.csv",skiprows=1, header=None)
d2.columns = ['รหัสทะเบียน'	,'ชื่อ'	,'ที่ตั้ง']
df = pd.concat([df,d2], ignore_index = True)
df

,รหัสทะเบียน,ชื่อ,ที่ตั้ง
0,6-50-02-03/1-0018,วิสาหกิจชุมชนกลุ่มบริการการท่องเที่ยวโดยชุมชน,\r\n 81...
1,6-50-02-03/1-0027,วิสาหกิจชุมชนกลุ่มเย็บผ้าสตรีแม่บ้านตาดมื่น,\r\n 15...
2,6-50-02-03/1-0029,วิสาหกิจชุมชนกลุ่มร้านค้าสวัสดิการคริสตจักรขุน...,\r\n 78...
3,6-50-02-03/1-0047,วิสาหกิจชุมชนกลุ่มเกษตรกรผู้ผลิตสินค้าเกษตรไร้...,\r\n 30...
4,6-50-02-03/1-0048,วิสาหกิจชุมชนกลุ่มผู้ผลิตลำไยนอกฤดูบ้านแท่นคำ,\r\n 61...
...,...,...,...
1590,6-50-25-03/1-0021,วิสาหกิจชุมชนจัดการท่องเที่ยวและเกษตรผสมผสานบ้...,\r\n 72...
1591,6-50-25-03/1-0022,วิสาหกิจชุมชนม้องแม่สะละ,\r\n 12...
1592,6-50-25-03/1-0023,วิสาหกิจชุมชนไร่สตรอเบอรี่เหยียบเมฆา,\r\n 57...
1593,6-50-25-03/1-0024,วิสาหกิจชุมชนแปลงใหญ่กาแฟม่อนแม่แดด,\r\n 20...
1594,6-50-25-03/1-0025,วิสาหกิจชุมชนกาแฟอินทรีย์และการท่องเที่ยวฟาร์ม...,\r\n 59...

# concat df and 5104

In [31]:
d2 = pd.read_excel("5104.xlsx")
d2.drop(columns='ลำดับ',inplace = True)
df = pd.concat([df,d2], ignore_index = True)
df

,รหัสทะเบียน,ชื่อ,ที่ตั้ง
0,6-50-02-03/1-0018,วิสาหกิจชุมชนกลุ่มบริการการท่องเที่ยวโดยชุมชน,\r\n 81...
1,6-50-02-03/1-0027,วิสาหกิจชุมชนกลุ่มเย็บผ้าสตรีแม่บ้านตาดมื่น,\r\n 15...
2,6-50-02-03/1-0029,วิสาหกิจชุมชนกลุ่มร้านค้าสวัสดิการคริสตจักรขุน...,\r\n 78...
3,6-50-02-03/1-0047,วิสาหกิจชุมชนกลุ่มเกษตรกรผู้ผลิตสินค้าเกษตรไร้...,\r\n 30...
4,6-50-02-03/1-0048,วิสาหกิจชุมชนกลุ่มผู้ผลิตลำไยนอกฤดูบ้านแท่นคำ,\r\n 61...
...,...,...,...
1713,6-51-04-09/1-0055,วิสาหกิจชุมชนเกษตรอินทรีย์แฟร์เทรดลำพูน,\r\n 45...
1714,6-51-04-09/1-0057,วิสาหกิจชุมชนกลุ่มเลี้ยงสัตว์ศรีวิชัย,\r\n 18...
1715,6-51-04-09/1-0058,วิสาหกิจชุมชนลำไยอบแห้งสีทองของดีศรีวิชัย,\r\n 86...
1716,6-51-04-09/1-0059,วิสาหกิจชุมชนปลูกพืชผักสมุนไพรปลอดภัยครบวงจร อ...,\r\n 35...
1717,6-51-04-09/1-0060,วิสาหกิจชุมชนแปลงใหญ่กระเทียมตำบลศรีวิชัย อ.ลี...,\r\n 16...

# concat df and 5606

In [32]:
d2 = pd.read_excel("5606.xlsx")
d2.drop(columns='ลำดับ',inplace = True)
df = pd.concat([df,d2], ignore_index = True)
df

,รหัสทะเบียน,ชื่อ,ที่ตั้ง
0,6-50-02-03/1-0018,วิสาหกิจชุมชนกลุ่มบริการการท่องเที่ยวโดยชุมชน,\r\n 81...
1,6-50-02-03/1-0027,วิสาหกิจชุมชนกลุ่มเย็บผ้าสตรีแม่บ้านตาดมื่น,\r\n 15...
2,6-50-02-03/1-0029,วิสาหกิจชุมชนกลุ่มร้านค้าสวัสดิการคริสตจักรขุน...,\r\n 78...
3,6-50-02-03/1-0047,วิสาหกิจชุมชนกลุ่มเกษตรกรผู้ผลิตสินค้าเกษตรไร้...,\r\n 30...
4,6-50-02-03/1-0048,วิสาหกิจชุมชนกลุ่มผู้ผลิตลำไยนอกฤดูบ้านแท่นคำ,\r\n 61...
...,...,...,...
1800,6-56-06-07/1-0018,วิสาหกิจชุมชนกลุ่มผู้เลี้ยงสัตว์เศรษฐกิจ (แพะ)...,\r\n 10...
1801,6-56-06-07/1-0019,วิสาหกิจชุมชนกลุ่มปุ๋ยหมักชีวภาพบ้านผาตั้ง,\r\n 92...
1802,6-56-06-07/1-0020,วิสาหกิจชุมชนกลุ่มส่งเสริมการเลี้ยงไก่พันธุ์พื...,\r\n 10...
1803,6-56-06-07/1-0021,วิสาหกิจชุมชนกลุ่มเลี้ยงโคขุนบ้านน้ำปุก,\r\n 14...
1804,6-56-06-07/1-0022,วิสาหกิจชุมชนกลุ่มเกษตรกรผู้ปลูกโกโก้ตำบลขุนควร,\r\n 66...

# concat df and 5708

In [33]:
d2 = pd.read_excel("5708.xlsx")
d2.drop(columns='ลำดับ',inplace = True)
df = pd.concat([df,d2], ignore_index = True)
df

,รหัสทะเบียน,ชื่อ,ที่ตั้ง
0,6-50-02-03/1-0018,วิสาหกิจชุมชนกลุ่มบริการการท่องเที่ยวโดยชุมชน,\r\n 81...
1,6-50-02-03/1-0027,วิสาหกิจชุมชนกลุ่มเย็บผ้าสตรีแม่บ้านตาดมื่น,\r\n 15...
2,6-50-02-03/1-0029,วิสาหกิจชุมชนกลุ่มร้านค้าสวัสดิการคริสตจักรขุน...,\r\n 78...
3,6-50-02-03/1-0047,วิสาหกิจชุมชนกลุ่มเกษตรกรผู้ผลิตสินค้าเกษตรไร้...,\r\n 30...
4,6-50-02-03/1-0048,วิสาหกิจชุมชนกลุ่มผู้ผลิตลำไยนอกฤดูบ้านแท่นคำ,\r\n 61...
...,...,...,...
1948,6-57-08-06/1-0060,วิสาหกิจชุมชนผู้เลี้ยงโคขุนบ้านทุ่งฟ้าฮ่าม,\r\n 20...
1949,6-57-08-06/1-0061,วิสาหกิจชุมชนกลุ่มเลี้ยงโคบ้านดอยงามหมู่ 8,\r\n 41...
1950,6-57-08-06/1-0062,วิสาหกิจชุมชนกลุ่มผู้เลี้ยงโค กระบือ โยนกนคร,\r\n 26...
1951,6-57-08-06/1-0063,วิสาหกิจชุมชนกลุ่มสมุนไพรเศรษฐกิจโยนก,\r\n 46...
1952,6-57-08-06/1-0064,วิสาหกิจชุมชนเลี้ยงกระต่ายเนื้อโยนก,\r\n 40...

# concat df and 5710

In [34]:
d2 = pd.read_excel("5710.xlsx")
d2.drop(columns='ลำดับ',inplace = True)
df = pd.concat([df,d2], ignore_index = True)
df

,รหัสทะเบียน,ชื่อ,ที่ตั้ง
0,6-50-02-03/1-0018,วิสาหกิจชุมชนกลุ่มบริการการท่องเที่ยวโดยชุมชน,\r\n 81...
1,6-50-02-03/1-0027,วิสาหกิจชุมชนกลุ่มเย็บผ้าสตรีแม่บ้านตาดมื่น,\r\n 15...
2,6-50-02-03/1-0029,วิสาหกิจชุมชนกลุ่มร้านค้าสวัสดิการคริสตจักรขุน...,\r\n 78...
3,6-50-02-03/1-0047,วิสาหกิจชุมชนกลุ่มเกษตรกรผู้ผลิตสินค้าเกษตรไร้...,\r\n 30...
4,6-50-02-03/1-0048,วิสาหกิจชุมชนกลุ่มผู้ผลิตลำไยนอกฤดูบ้านแท่นคำ,\r\n 61...
...,...,...,...
2125,6-57-10-07/1-0083,วิสาหกิจชุมชนกลุ่มคืนสู่ธรรมชาติ,\r\n 26...
2126,6-57-10-07/1-0084,วิสาหกิจชุมชนกลุ่มเลี้ยงแพะตำบลเจดีย์หลวง,\r\n 92...
2127,6-57-10-07/1-0085,วิสาหกิจชุมชนกลุ่มผู้เลี้ยงโครุ่นใหม่,\r\n 82...
2128,6-57-10-07/1-0086,วิสาหกิจชุมชนบ้านพักโฮมสเตย์ใหม่แสงแก้ว,\r\n 60...
2129,6-57-10-07/1-0087,วิสาหกิจชุมชนกลุ่มผู้เลี้ยงสัตว์เพื่อพัฒนาอาชี...,\r\n 34...

# concat df and 5711

In [35]:
d2 = pd.read_excel("5711.xlsx")
d2.drop(columns='ลำดับ',inplace = True)
df = pd.concat([df,d2], ignore_index = True)
df

,รหัสทะเบียน,ชื่อ,ที่ตั้ง
0,6-50-02-03/1-0018,วิสาหกิจชุมชนกลุ่มบริการการท่องเที่ยวโดยชุมชน,\r\n 81...
1,6-50-02-03/1-0027,วิสาหกิจชุมชนกลุ่มเย็บผ้าสตรีแม่บ้านตาดมื่น,\r\n 15...
2,6-50-02-03/1-0029,วิสาหกิจชุมชนกลุ่มร้านค้าสวัสดิการคริสตจักรขุน...,\r\n 78...
3,6-50-02-03/1-0047,วิสาหกิจชุมชนกลุ่มเกษตรกรผู้ผลิตสินค้าเกษตรไร้...,\r\n 30...
4,6-50-02-03/1-0048,วิสาหกิจชุมชนกลุ่มผู้ผลิตลำไยนอกฤดูบ้านแท่นคำ,\r\n 61...
...,...,...,...
2255,6-57-11-07/1-0032,วิสาหกิจชุมชนกองทุนหมู่บ้านขุนลาว,\r\n 10...
2256,6-57-11-07/1-0034,วิสาหกิจชุมชนชาขุนน้ำลาว,\r\n 13...
2257,6-57-11-07/1-0035,วิสาหกิจชุมชนผู้ผลิตไม้ผล ผักและสมุนไพรแม่เจดี...,\r\n 13...
2258,6-57-11-07/1-0036,วิสาหกิจชุมชนรักษ์สิ่งแวดล้อม,\r\n 10...
2259,6-57-11-07/1-0037,วิสาหกิจชุมชนกลุ่มอาชีพบ้านขุนลาว,\r\n 15...

# concat df and 5713

In [36]:
d2 = pd.read_excel("5713.xlsx")
d2.drop(columns='ลำดับ',inplace = True)
df = pd.concat([df,d2], ignore_index = True)
df

,รหัสทะเบียน,ชื่อ,ที่ตั้ง
0,6-50-02-03/1-0018,วิสาหกิจชุมชนกลุ่มบริการการท่องเที่ยวโดยชุมชน,\r\n 81...
1,6-50-02-03/1-0027,วิสาหกิจชุมชนกลุ่มเย็บผ้าสตรีแม่บ้านตาดมื่น,\r\n 15...
2,6-50-02-03/1-0029,วิสาหกิจชุมชนกลุ่มร้านค้าสวัสดิการคริสตจักรขุน...,\r\n 78...
3,6-50-02-03/1-0047,วิสาหกิจชุมชนกลุ่มเกษตรกรผู้ผลิตสินค้าเกษตรไร้...,\r\n 30...
4,6-50-02-03/1-0048,วิสาหกิจชุมชนกลุ่มผู้ผลิตลำไยนอกฤดูบ้านแท่นคำ,\r\n 61...
...,...,...,...
2332,6-57-13-04/1-0055,วิสาหกิจชุมชนสุรากลั่นรุ่งราวัณ,\r\n 10...
2333,6-57-13-04/1-0056,วิสาหกิจชุมชนกลุ่มเกษตรกรเลี้ยงสัตว์บ้านขวากเหนือ,\r\n 11...
2334,6-57-13-04/1-0057,วิสาหกิจชุมชนกลุ่มเลี้ยงไก่บ้านโล๊ะ,\r\n 12...
2335,6-57-13-04/1-0058,วิสาหกิจชุมชนกลุ่มเกษตรกรยางพาราบ้านโล๊ะ,\r\n 17...
2336,6-57-13-04/1-0059,วิสาหกิจชุมชนสมุนไพรชนเผ่าม้งท่าข้าม,\r\n 14...

# concat df and 5801

In [37]:
d2 = pd.read_csv("5801.csv",skiprows=1, header=None)
d2.columns = ['รหัสทะเบียน'	,'ชื่อ'	,'ที่ตั้ง']
df = pd.concat([df,d2], ignore_index = True)
df

,รหัสทะเบียน,ชื่อ,ที่ตั้ง
0,6-50-02-03/1-0018,วิสาหกิจชุมชนกลุ่มบริการการท่องเที่ยวโดยชุมชน,\r\n 81...
1,6-50-02-03/1-0027,วิสาหกิจชุมชนกลุ่มเย็บผ้าสตรีแม่บ้านตาดมื่น,\r\n 15...
2,6-50-02-03/1-0029,วิสาหกิจชุมชนกลุ่มร้านค้าสวัสดิการคริสตจักรขุน...,\r\n 78...
3,6-50-02-03/1-0047,วิสาหกิจชุมชนกลุ่มเกษตรกรผู้ผลิตสินค้าเกษตรไร้...,\r\n 30...
4,6-50-02-03/1-0048,วิสาหกิจชุมชนกลุ่มผู้ผลิตลำไยนอกฤดูบ้านแท่นคำ,\r\n 61...
...,...,...,...
2482,6-58-01-09/1-0020,วิสาหกิจชุมชนผู้รวบรวมกาแฟและผลผลิตผักผลไม้ปลอ...,\r\n 22...
2483,6-58-01-09/1-0021,วิสาหกิจชุมชนเกษตรอินทรีย์ชุมชนบ้านห้วยปูลิง,\r\n 27...
2484,6-58-01-09/1-0022,วิสาหกิจชุมชนการท่องเที่ยวโดยชุมชนบ้านห้วยตองก๊อ,\r\n 66...
2485,6-58-01-09/1-0023,วิสาหกิจชุมชนผู้สูงอายุบ้านห้วยปูลิง,\r\n 54...
2486,6-58-01-09/1-0024,วิสาหกิจชุมชนกลุ่มเกษตรกรบ้านป่าคา,\r\n 52...

# concat df and 5802

In [38]:
d2 = pd.read_csv("5802.csv",skiprows=1, header=None)
d2.columns = ['รหัสทะเบียน'	,'ชื่อ'	,'ที่ตั้ง']
df = pd.concat([df,d2], ignore_index = True)
df

,รหัสทะเบียน,ชื่อ,ที่ตั้ง
0,6-50-02-03/1-0018,วิสาหกิจชุมชนกลุ่มบริการการท่องเที่ยวโดยชุมชน,\r\n 81...
1,6-50-02-03/1-0027,วิสาหกิจชุมชนกลุ่มเย็บผ้าสตรีแม่บ้านตาดมื่น,\r\n 15...
2,6-50-02-03/1-0029,วิสาหกิจชุมชนกลุ่มร้านค้าสวัสดิการคริสตจักรขุน...,\r\n 78...
3,6-50-02-03/1-0047,วิสาหกิจชุมชนกลุ่มเกษตรกรผู้ผลิตสินค้าเกษตรไร้...,\r\n 30...
4,6-50-02-03/1-0048,วิสาหกิจชุมชนกลุ่มผู้ผลิตลำไยนอกฤดูบ้านแท่นคำ,\r\n 61...
...,...,...,...
2526,6-58-02-06/1-0030,วิสาหกิจชุมชนเกษตรเชิงท่องเที่ยวบ้านหัวฮะ,\r\n 12...
2527,6-58-02-06/1-0031,วิสาหกิจชุมชนกลุ่มบุกเกษตรอินทรีย์บ้านห้วยบง,\r\n 74...
2528,6-58-02-06/1-0035,วิสาหกิจชุมชนกลุ่มเกษตรกรผู้ปลูกพืชผักปลอดภัยบ...,\r\n 18...
2529,6-58-02-06/1-0036,วิสาหกิจชุมชนกลุ่มเกษตรปลอดภัยบ้านแม่อูคอน้อย,\r\n 93...
2530,6-58-02-06/1-0037,วิสาหกิจชุมชนเกษตรอินทรีย์และการท่องเที่ยวบ้าน...,\r\n 24...

# concat df and 5804

In [39]:
d2 = pd.read_csv("5804.csv",skiprows=1, header=None)
d2.columns = ['รหัสทะเบียน'	,'ชื่อ'	,'ที่ตั้ง']
df = pd.concat([df,d2], ignore_index = True)
df

,รหัสทะเบียน,ชื่อ,ที่ตั้ง
0,6-50-02-03/1-0018,วิสาหกิจชุมชนกลุ่มบริการการท่องเที่ยวโดยชุมชน,\r\n 81...
1,6-50-02-03/1-0027,วิสาหกิจชุมชนกลุ่มเย็บผ้าสตรีแม่บ้านตาดมื่น,\r\n 15...
2,6-50-02-03/1-0029,วิสาหกิจชุมชนกลุ่มร้านค้าสวัสดิการคริสตจักรขุน...,\r\n 78...
3,6-50-02-03/1-0047,วิสาหกิจชุมชนกลุ่มเกษตรกรผู้ผลิตสินค้าเกษตรไร้...,\r\n 30...
4,6-50-02-03/1-0048,วิสาหกิจชุมชนกลุ่มผู้ผลิตลำไยนอกฤดูบ้านแท่นคำ,\r\n 61...
...,...,...,...
2627,6-58-04-08/1-0020,วิสาหกิจชุมชนกลุ่มสร้างป่าสร้างรายได้บ้านโก๊ะไ...,\r\n 5/...
2628,6-58-04-08/1-0021,วิสาหกิจชุมชนกลุ่มสร้างป่าสร้างรายได้บ้านช่างหม้อ,\r\n 9/...
2629,6-58-04-08/1-0025,วิสาหกิจชุมชนปลูกผักไม้ผลและสมุนไพรอินทรีย์บ้า...,\r\n 28...
2630,6-58-04-08/1-0027,วิสาหกิจชุมชนกลุ่มโฮมสเตย์ฮากไม้ใต้,\r\n 51...
2631,6-58-04-08/1-0029,วิสาหกิจชุมชนโครงการสร้างป่าสร้างรายได้ตามพระร...,\r\n ...

# concat df and 5805

In [40]:
d2 = pd.read_csv("5805.csv",skiprows=1, header=None)
d2.columns = ['รหัสทะเบียน'	,'ชื่อ'	,'ที่ตั้ง']
df = pd.concat([df,d2], ignore_index = True)
df

,รหัสทะเบียน,ชื่อ,ที่ตั้ง
0,6-50-02-03/1-0018,วิสาหกิจชุมชนกลุ่มบริการการท่องเที่ยวโดยชุมชน,\r\n 81...
1,6-50-02-03/1-0027,วิสาหกิจชุมชนกลุ่มเย็บผ้าสตรีแม่บ้านตาดมื่น,\r\n 15...
2,6-50-02-03/1-0029,วิสาหกิจชุมชนกลุ่มร้านค้าสวัสดิการคริสตจักรขุน...,\r\n 78...
3,6-50-02-03/1-0047,วิสาหกิจชุมชนกลุ่มเกษตรกรผู้ผลิตสินค้าเกษตรไร้...,\r\n 30...
4,6-50-02-03/1-0048,วิสาหกิจชุมชนกลุ่มผู้ผลิตลำไยนอกฤดูบ้านแท่นคำ,\r\n 61...
...,...,...,...
2766,6-58-05-08/1-0029,วิสาหกิจชุมชนเกษตรผสมผสานบ้านขุนแม่ลา,\r\n 6/...
2767,6-58-05-08/1-0030,วิสาหกิจชุมชนรวมใจพัฒนาการเกษตรขุนแม่ลาใต้,\r\n 37...
2768,6-58-05-08/1-0032,วิสาหกิจชุมชนอมลานสร้างเนื้อสร้างตัวการเกษตร,\r\n 76...
2769,6-58-05-08/1-0033,วิสาหกิจชุมชนกลุ่มเกษตรผสมผสานบ้านอมลาน,\r\n 34...
2770,6-58-05-08/1-0034,วิสาหกิจชุมชนเกษตรผสมผสานบ้านฟักทอง,\r\n 26...

# concat df and 6304

In [41]:
d2 = pd.read_csv("6304.csv",skiprows=1, header=None)
d2.columns = ['รหัสทะเบียน'	,'ชื่อ'	,'ที่ตั้ง']
df = pd.concat([df,d2], ignore_index = True)
df

,รหัสทะเบียน,ชื่อ,ที่ตั้ง
0,6-50-02-03/1-0018,วิสาหกิจชุมชนกลุ่มบริการการท่องเที่ยวโดยชุมชน,\r\n 81...
1,6-50-02-03/1-0027,วิสาหกิจชุมชนกลุ่มเย็บผ้าสตรีแม่บ้านตาดมื่น,\r\n 15...
2,6-50-02-03/1-0029,วิสาหกิจชุมชนกลุ่มร้านค้าสวัสดิการคริสตจักรขุน...,\r\n 78...
3,6-50-02-03/1-0047,วิสาหกิจชุมชนกลุ่มเกษตรกรผู้ผลิตสินค้าเกษตรไร้...,\r\n 30...
4,6-50-02-03/1-0048,วิสาหกิจชุมชนกลุ่มผู้ผลิตลำไยนอกฤดูบ้านแท่นคำ,\r\n 61...
...,...,...,...
2835,9-63-04-05/1-0013,วิสาหกิจชุมชนสร้างป่าสร้างรายได้บ้านขุนห้วยแม่ท้อ,\r\n 86...
2836,9-63-04-06/1-0011,วิสาหกิจชุมชนบ้านพะกอยวา,\r\n 78...
2837,9-63-04-06/1-0013,วิสาหกิจชุมชนการท่องเที่ยวชุมชนบ้านป่าไร่เหนือ,\r\n 10...
2838,9-63-04-06/1-0014,วิสาหกิจชุมชนกลุ่มปลูกกาแฟบ้านพะนิกี,\r\n 22...
2839,9-63-04-06/1-0015,วิสาหกิจชุมชนห้วยกระทิง,\r\n 34...

# concat df and 6305

In [42]:
d2 = pd.read_csv("6305.csv",skiprows=1, header=None)
d2.columns = ['รหัสทะเบียน'	,'ชื่อ'	,'ที่ตั้ง']
df = pd.concat([df,d2], ignore_index = True)
df

,รหัสทะเบียน,ชื่อ,ที่ตั้ง
0,6-50-02-03/1-0018,วิสาหกิจชุมชนกลุ่มบริการการท่องเที่ยวโดยชุมชน,\r\n 81...
1,6-50-02-03/1-0027,วิสาหกิจชุมชนกลุ่มเย็บผ้าสตรีแม่บ้านตาดมื่น,\r\n 15...
2,6-50-02-03/1-0029,วิสาหกิจชุมชนกลุ่มร้านค้าสวัสดิการคริสตจักรขุน...,\r\n 78...
3,6-50-02-03/1-0047,วิสาหกิจชุมชนกลุ่มเกษตรกรผู้ผลิตสินค้าเกษตรไร้...,\r\n 30...
4,6-50-02-03/1-0048,วิสาหกิจชุมชนกลุ่มผู้ผลิตลำไยนอกฤดูบ้านแท่นคำ,\r\n 61...
...,...,...,...
2870,9-63-05-04/1-0018,วิสาหกิจชุมชนกลุ่มสุรากลั่นช้างทอง,\r\n 87...
2871,9-63-05-04/1-0019,วิสาหกิจชุมชนพืชสมุนไพรพื้นบ้าน หมู่บ้าน 8 บ้า...,\r\n 94...
2872,9-63-05-05/1-0010,วิสาหกิจชุมชนเกษตรยั่งยืนแม่วะหลวง ตำบลแม่วะหลวง,\r\n 47...
2873,9-63-05-05/1-0011,วิสาหกิจชุมชนเกษตรกรผู้ปลูกบุกและแปรรูปผลผลิตก...,\r\n 6/...
2874,9-63-05-06/1-0011,วิสาหกิจชุมชน ม.9 กาแฟเลอตอโกล,\r\n 50...